<h1>Jobs</h1>

<mat-card>
  <mat-form-field>
    <input matInput placeholder="Search"  [(ngModel)]="search" (keyup)=filterJobs($event)>
  </mat-form-field>
  <p class="total-jobs">Showing {{ jobs.length }} jobs</p>
  <mat-card-content>

      <table  mat-table cellspacing="5">
        <th>
          Company
        </th>
        <th>
          Name
        </th>
        <tr *ngFor="let x of jobs">
          <td>
            <a [routerLink]="['/contractors', x._id]">{{ x.company }}</a>
          </td>
          <td>
            {{ x.firstName }} {{ x.lastName}}
          </td>
        </tr>
      </table>

  </mat-card-content>
</mat-card>
