<button mat-flat-button color="default" (click)="back()" *ngIf="pageEdit">Back</button>


<h1>{{ pageTitle }}</h1>


<mat-card>
  <mat-card-content>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="First Name" [(ngModel)]="user.firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="user.lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Company" [readonly]="[pageEdit]" [(ngModel)]="user.company">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type of Work" [(ngModel)]="user.job">
      <mat-option [value]="job.id" *ngFor="let job of jobs">{{job.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="save()">Submit</button>
  </div>
</div>
  </mat-card-content>
</mat-card>
