/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';

$custom-typography: mat-typography-config(
    $font-family: 'Exo'
);

@include mat-core($custom-typography);

body {
  background-color: #f4f3f3;
  margin: 0;
  app-root * {
    font-family: 'Exo', sans-serif;
  }
}

.mat-snack-bar-container {
  border-radius: 4px !important;
  margin-bottom: 10px !important;
  animation: snackbarIn 0.1s;
  box-shadow: 1px 1px 7px 1px gray;
}

.mat-snack-bar-container.pizza-party {
  color: white;
  font-family: 'Exo', sans-serif;
  border-radius: 4px;
  margin-bottom: 100px;
}

.mat-snack-bar-container .flex {
  text-align: center;
}

@keyframes snackbarIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
    opacity: 1;
  }
}
